/* styles */
.fa-chevron-left,
.fa-ellipsis-h{
  cursor: pointer;
  font-weight: normal !important;
}
span.icon-insta > img{
  width: 168px;
}
div#posts-insta {
  margin-left: -12px;
}
div#Followes-insta {
  margin-left: -26px;
}
div#Foolowing-insta {
  margin-right: 25px;
}
.text-post-app p:nth-child(1){
  font-weight: bold;
  font-size: 24pt;
}    
.text-post-app p:nth-child(2) {
  font-size: 22pt;
  margin-top: -26px;
}
.title-account > h3 {
  text-align: left;
    padding-left: 21px;
    padding-top: 30px;
    font-size: 21pt;
    font-weight: bold;
}
.title-account > p {
    text-align: left;
    padding-left: 21px;
    font-size: 20pt;
}
.title-account > a {
  text-align: left;
  padding-left: 19px;
  font-size: 20pt;
  text-decoration: none;
  float: left;
  margin-bottom: 15px;
  margin-top: -19px;
}
#follwoing-btn{
  margin-left: -10px;
}
button#Arrow-btns {
  padding-left: 14px;
      padding-right: 14px;
      padding-top: 10px;
      padding-bottom: 8px;
}
#follwoing-btn{
  padding-bottom: 2px;
}



#message-btn, #follwoing-btn{
  padding-left: 100px !important;
  padding-right: 100px !important;
  font-size: 15pt;
  
}
.btn-outline-light {
  color: #000;
  background-color: #f8f9fa;
  border: 2px solid #efefef !important;
}
button#message-btn {
  margin-left: -50px;
}
i.fas.fa-heart {
  color: red;
}
body {
  background: #f8f9fa !important;
}
.icon-insta{
  cursor: pointer;
}

/* end style */